.banner {
    width: 500px;
    height: 200px;
}

.image-container {
    display: flex;
    justify-content: center;
    background-color: black;
}

.heading {
    text-align: center;
    font-size: 60px;
    color: red;
    background-color: black;
    height: 70px;
}

.instruct {
    text-align: center;
    font-size: 40px;
    color: navy;
    background-color: silver;
    height: 140px;
}

.content {
    text-align: center;
    font-size: 38px;
    color: silver;
    background-color: navy;
    height: 310px;
}